Des
Desktop/
Downloads/
Documents/
Pictures/
assaiah/
cuda-keyring_1.1-1_all.deb
thinclient_drives
Music/
Public/
Videos/
sglang-config/
sglang-env/
# System and configuration files
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gitconfig
.local/
.mozilla/
.npm-global/
.npm/
.npmrc
.profile
.ssh/
.xorgxrdp.10.log
.xorgxrdp.10.log.old
.xsession
.xsession-errors

# Claude configuration
.claude.json
.claude.json.backup
.claude/

.DS_Store

